; npm init -y values
init-author-email = "devrel@nickcannariato.dev"
init-author-name = "Nick Cannariato"
init-author-url = "https://nickcannariato.dev"
init-license = "Hippocratic 2.1"
init-version = "0.0.1"
